.type-1823 .swiper-container {
  position: relative;
  overflow: auto;
  list-style: none;
}
.type-1823 .swiper-container .swiper-wrapper {
  display: -webkit-box;
}
.type-1823 .swiper-container .swiper-wrapper .swiper-slide {
  cursor: pointer;
}
.type-1823 .swiper-container .swiper-wrapper .swiper-slide img {
  width: 40%;
  margin: auto;
  padding-bottom: 150px;
}
.type-1823 .swiper-container .btn-primary {
  background: brown;
  color: #fff;
  border-color: brown;
}
.type-1823 .swiper-container .btn {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  padding: 12px 18px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.15em;
}
.type-1823 .swiper-container .btn-primary:hover {
  background: #b28d6a;
}
.type-1823 .swiper-container .swiper-button-next,
.type-1823 .swiper-container .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 2.7rem;
  height: 4.4rem;
  margin-top: -2.2rem;
  cursor: pointer;
}
.type-1823 .swiper-container .swiper-button-prev,
.type-1823 .swiper-container .swiper-container-rtl .swiper-button-next {
  border-radius: 11.5rem;
  height: 11.5rem;
  width: 11.5rem;
  right: auto;
  opacity: 0;
  position: absolute;
  top: 46rem;
  background-image: none;
}
.type-1823 .swiper-container .swiper-button-next,
.type-1823 .swiper-container .swiper-container-rtl .swiper-button-prev {
  border-radius: 11.5rem;
  height: 11.5rem;
  width: 11.5rem;
  left: auto;
  opacity: 0;
  position: absolute;
  top: 46rem;
  background-image: none;
}
.type-1823 .swiper-container .fa-angle-right,
.type-1823 .swiper-container .fa-angle-left {
  position: relative;
  color: #d3766e;
  font-size: 7rem;
  bottom: 200px;
  left: 4rem;
}
.type-1823 .swiper-container .fa-angle-right:hover {
  color: #896255;
}
.type-1823 .swiper-container .fa-angle-left:hover {
  color: #896255;
}
.type-1823 .swiper-pagination-bullets {
  top: 74%;
}
.type-1823 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.5rem;
}
.type-1823 .swiper-container:hover .swiper-button-prev,
.type-1823 .swiper-container:hover .swiper-container-rtl .swiper-button-next,
.type-1823 .swiper-container:hover .swiper-button-next,
.type-1823 .swiper-container:hover .swiper-container-rtl .swiper-button-prev {
  opacity: 1;
}
@media (max-width: 900px) {
  .fa-angle-right,
  .fa-angle-left {
    bottom: 300px !important;
  }
}
@media (max-width: 700px) {
  .fa-angle-right,
  .fa-angle-left {
    bottom: 350px !important;
  }
  .btn {
    padding: 6px 10px !important;
  }
}
@media (max-width: 479px) {
  .fa-angle-right,
  .fa-angle-left {
    display: none;
  }
}
@media (max-width: 450px) {
  .slide {
    margin-top: -170px !important;
    margin-bottom: 170px !important;
  }
  .slide2 {
    margin-top: -170px !important;
    margin-bottom: 170px !important;
  }
}
